@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 90vh;
    position: relative;
   
}
.main .box{
    height: 90vh;
    width: 100%;
    opacity: 0.68;
    background-color: black;
    top: 0;
    position: absolute;
}
nav{
    max-width: 85vw;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
nav .img1{
    color: red;
    width: 125px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100% - 112px);
    font-family: "Martel Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 26px;
}
.hero> :first-child{
    font-weight: 800;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.separation{
    height: 8px;
    background-color: rgb(49, 49, 49);
    top: 0;
    bottom: 0;
}
.btn{
    padding: 4px 24px;
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    color: white;
    border: 0.5px solid #5b5a5a;
    border-radius: 3px;
    cursor: pointer;
}
.img2{
    position: relative;
    z-index: 10;
    margin: 0px 2px ;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 13px 15px;
    font-size: 17px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    
}
.btn-red-sm{
    background-color: red;
    color: white;
    padding: 6px 13px;
    font-size: 13px;
    font-weight: bold;
    margin-left: 6px;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.main input{
    padding: 14px 120px 14px 10px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    background-color: rgba(22, 22, 22, 0.7);
    border: 1px solid rgba(165, 163, 163, 0.863);
}

.first{
    display: flex;
    max-width: 70vw;
    margin: auto;
    color:white;
    justify-content: center;
    align-items: center;
}

.secImg{
    position: relative;
    
}
.secImg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    top: 52px;
    right: 0;
    width: 266px;
}
.first > div :first-child{
    font-size: 48px;
    font-weight: bolder;
    
}
.first > div :nth-child(2){
    font-size: 18px;
    font-weight: small;
    
}
#change{
    font-size: 44px;
}